{{ define "main" }}
<article class="helvetica pb5">
    <header class="vh-100 bg-light-grey dt w-100 pb4">
        <div
            style="background:url({{ .Params.image }}) no-repeat center right; background-size: cover;"
            class="dtc v-mid cover ph3 ph4-m ph5-l">
            <h1 class="f2 f-subheadline-l measure lh-title fw9 absolute" style="left:50px;bottom:50px;">
                {{ .Title }}
            </h1>
        </div>
    </header>
    <div class="">
        {{ replace .Content "<p>" "<p class='f6 f4-ns lh-copy measure center'>" | safeHTML }}
    </div>
</article>

{{ end }}
