{{ define "main" }}
{{- partial "review_header.html" .}}
<article class="pb5">
    <header class="vh-100 bg-light-grey dt w-100 pb4">
        <div
            style="background:url({{ .Params.cover }}) no-repeat center; background-size: cover;"
            class="dtc v-mid cover ph3 ph4-m ph5-l">
            <h1 class="f2 f-subheadline-l measure lh-title fw9 absolute sanctum-white bg-black-90" style="left:50px;bottom:50px;">
                {{ .Title }}
            </h1>
        </div>
    </header>
    <div class="">
        {{ replace .Content "<p>" "<p class='f6 f4-ns lh-copy measure center'>" | safeHTML }}
    </div>
    {{ partial "infobox.html" .}}
</article>
{{ end }}
